/* Set some defaults for the whole page. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;}
*:link {
    color: #f8f8f8;
    text-decoration: none;}


*:visited{
    color: #f8f8f8;
    text-decoration: none;}

/* Main container for all content. */
    .wrapper {
    background-color: #f8f8f8;
    margin: 0px;}
/* Background video for above the fold content */
    .wrapper video {
        position: fixed;
        right: 0px;
        top: 0px;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;}
/* Set a breakpoint for desktop content - Not sure If I can build out the mobile breakpoint yet... */
/* @media screen and (min-width: 768px) { */


/*================================*/
/* THIS IS THE NAV BAR */
/*================================*/
/* Main Container for the Nav Bar */
.bar{
position: fixed;
top: 0px;
left: 0px;
    /* Main Nav Bar to contain divLeft & divRight */
height: 72px;
background-color: #2d2d2d;
width: 100%;
display: flex;
justify-content: space-between;
white-space: nowrap;
z-index: 3;}
/* Attributes for link decorations in the NavBar */
.bar a:link {
    color: #f8f8f8;
    text-decoration: none;}
.bar a:visited {
    color: #f8f8f8;
    text-decoration: none;}


/* Left 50% of the Nav Bar */
/*================================*/
#divLeft{
 /*Left NavBar container. Contains the title and the leftmost logo */
width: 50%;
display: flex;
justify-content: flex-start;}
    #logoCell{
        display: flex;
        align-items: center;
        width: 72px;
        background-color: #e33e42;
        text-align: center;
        line-height: 24px;}
    #logoImg {
        width: 50%;
        height: 70%;}
    #titleCell {
        width: 25%;
        /* background-color: #efefef; */
        display: flex;
        align-items: center;
        font-family: 'Crimson Text', serif;
        font-size: 20px;
        line-height: 24px;
        color: #f8f8f8;
        padding-left: 23px;
        text-decoration: none;}


/* RIGHT 50% OF NAV BAR */
/*================================*/
#divRight{
    
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;}

/* Navigation Buttons */
/*================================*/
/* This is the main state for the right nav button */
    .dropbtn {
        background-color: #2d2d2d;
        color: white;
        padding: 16px;
        border: none;
        font-family: 'Overpass', sans-serif;
        color: #f8f8f8;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        transform: scale(1, .87);
        height: 80px;}
/* Container for the menu that will open on hover of .dropbtn */
    .dropdown {
        position: relative;
        display: inline-block;}
/* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1f1f1f;
        min-width: 160px;
        z-index: 1;
        margin-top: -5px;}
/* Links inside the dropdown 'a tags*/
        .dropdown-content a {
            padding: 8px 16px;
            font-family: 'Overpass', sans-serif;
            color: #f8f8f8;
            font-size: 15px;
            font-weight: 300;
            text-decoration: none;
            transform: scale(1, .87);
            display: block;}
/* 'p' tags in the NavBar Dropdowns */
        .dropdown-content p {
            color: #a8a8a8;
            font-style: italic;
            font-weight: 500;
            margin-top: 3px;}
/* Red Highlight Links in the NavBar */
        .dropdown-content #red {
            padding: 12px 0px 12px 16px;
            font-family: 'Overpass', sans-serif;
            color: #f8f8f8;
            font-size: 15px;
            font-weight: 300;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            background-color: #e33e42;
            margin-bottom: -6px;}
/* 'p' tags in the Red highlighted links NavBar */
        .dropdown-content #red p {
            transform: scale(1, .87);
            background-color: #e33e42;
            color: #f8f8f8;}
/* Favicon Questionmark in the NavBar */
        .dropdown-content #red i {
            transform: scale(1, 1.13);
            background-color: #e33e42;
            padding-left: -3px;
            padding-right: 7px;
            color: #f8f8f8;}
/* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #777777;}
/* Change color of dropdown links on hover */
   .dropdown-content #red:hover {background-color: #aa2f31;}
/* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #1f1f1f;
    overflow: hidden;}

/* Search 'Magnifying Glass' */
/*================================*/
    .maglass{
        height: 72px;
        width: 65px;
        background-color: #2d2d2d;
        overflow: hidden;
        align-items: center;
        padding: 8px 0px 0px 3px;}
 /* Image Attributes */
        .maglass img {
            width: 50px;
            height: 50px;}
 /* Magnifying Glass Ov Hover - JS NEEDS TO BE HERE. */
            .maglass:hover{
            background-color: #1f1f1f;}
 /* Blue Call to action in the navBar */
 /*================================*/
    .callToAction{
        display: block;
        height: 80px;
        width: fit-content;
        font-family: 'Overpass', sans-serif;
        color: #f8f8f8;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        transform: scale(1, .87);
        overflow: hidden;
        padding: 28px 32px 0px 32px;
        background-color: #2c87bb;}
/* What to do when mouse hovers over the above. */
        .callToAction:hover{
            background-color: #4895c5;
            overflow: hidden;}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* END OF NAV BAR */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


/*================================*/
/* MAIN CONTENT. ABOVE THE FOLD Goes over the BG Video. */
/*================================*/
/* Parent Container for above the fold content. */
.mainBody{
    display: flex;
    height: 100vh;}
/* Container for 2 floating elements over the video */
    #heroLinks{
        position: absolute;
        top: 60%;
        left: 47%;
        transform: translate(-60%, -40%);
        display: block;
        width: 40%;
        background-color: rgba(255, 255, 255, 0.0);
        height: 40%;
        font-family: 'Overpass', sans-serif;
        color: #f8f8f8;
        font-weight: 300;
        text-decoration: none;
        text-align: left;}
/* Recode Your Future Block */
    #heroTitle{
        width: fit-content;
        height: fit-content;
        background-color: rgba(0, 0, 0, .7);
        font-size: 60px;
        padding: 10px 20px 0px 20px;
        margin: 0px 0px 15px 0px;}
/* Find Your Courses Link Block */
    #heroLink{
        width: 30%;
        background-color: #e33e42;
        height: 40%;
        font-size: 35px;
        width: fit-content;
        height: fit-content;
        padding: 10px 20px 0px 20px;}
/* Chevron at the bottom of the main page */
    #chevron{
        display: flex;
        width:7%;
        height:7%;
        position: absolute;
        right: 50vw;
        bottom: 3%;
        /* background-color: #2d2d2d; */
        color: rgba(255, 255, 255, .8); 
        text-shadow: 0px 0px 15px rgba(46, 46, 46,.6);
        -webkit-text-shadow: 0px 0px 15px rgba(46, 46, 46,.6);
        align-items: center;
        justify-content: center;}
/* Link Attributes for the Chevron  */
    #chevron-link {
        /* background-color: #2c87bb; */
        z-index: 2;}
/* Yellow Arrow at top Right */
    #yellowArrow{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(228, 206, 6);
        height: 35px;
        width: 35px;
        position: fixed;
        z-index: 4;
        top: 0px;
        right: 15px;
        color: #6b6b6b;
        box-shadow: 0px 0px 15px rgba(46, 46, 46,.6);
        -webkit-box-shadow: 0px 0px 15px rgba(46, 46, 46,.6);}
/* Yellow Arrow Attributes. */
        #yellowArrow a {z-index: 4;}
        #yellowArrow i {color: #6b6b6b; font-size: x-large; }

#chatBox{
    position: fixed;
    bottom: 15px;
    right: 25px;
    background-color: #e33e42;
    text-shadow: 0px 0px 15px rgba(46, 46, 46,.6);
    -webkit-text-shadow: 0px 0px 15px rgba(46, 46, 46,.6);
    height: 45px;
    width: 270px;
    border-radius: 23px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chatBox p {
    display: flex;
    padding-top: 3px;
}

#chatBox i{
    display: flex;
    margin-left: 10px;
    font-size: larger;
}

#chat-link{
    display: flex;
    align-items:center;
    justify-content: center;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* END OF MAIN CONTENT */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*================================*/
/* BELOW THE FOLD CONTENT BLOCK1 */
/*================================*/
/* Block 1 Parent Container */
.contentBlock1{
    height: 75%;
    width: 100%;
    background-color: #efefef;}
/* Container for 'COURSE INFORMATION Title. */
    #contentBlock1-title{
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding-top: 225px;}
/* 'COURSE INFORMATION Text attributes */
        #contentBlock1-title p{
            font-family: 'Overpass', sans-serif;
            color: #348db9;
            font-weight: 300;
            font-size: 65px;
            font-weight: 900;
            transform: scale(1, .87);        }
/* Container for the 3 cards in the block */
    #contentBlock1-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 45px;}
/* Card Properties */
        .contentBlock1-card{
            position: relative;
            width: 400px;
            height: 400px;
            background-color: #ffffff;
            padding: 25px 25px 25px 25px;
            margin: -130px 7px 20px 7px;
            font-family: 'Overpass', sans-serif;
            font-weight: 400;}
/* H2 Text Properties in the cards */
            .contentBlock1-card h2{
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 20px;}
/* p tag Text Properties in the cards */
            .contentBlock1-card p{
                color: #676767;
                font-size: 22px;
                font-weight: 100;
                font-style: normal;
                line-height: 30px;}
/* Call to Action Buttons at the botton of the cards. */
            .contentBlock1-card-button{
                position: absolute;
                bottom: 0px;
                width: 100%;
                background-color: #e33e42;
                font-size: 24px;
                font-weight: 300;
                font-style: normal;
                line-height: 30px;
                color: #efefef;
                text-align: center;
                margin-left: -25px;
                padding: 10px 10px 10px 10px;}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* END OF BELOW FOLD BLOCK 1 CONTENT */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*================================*/
/* 'FOOTER' - BELOW THE FOLD CONTENT BLOCK2 */
/*================================*/
/* Block2 Parent Container */
.footer{
    display:flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-color: #ffffff;}
/* Grid Container for the content in this block. */
    .footer-grid-container {
        display: grid;
        width: 50%;
        grid-template-columns: 25% 75%;/*repeat(2, 1fr); */
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 7px;
        margin-top: 50px;}
/* Eleven Fifty Logo Image */
        #footer-img{
            width: 110%;
            padding-right: 35px;
            padding-top: 50px;}
/* Grid Box for the 11-50 Logo */
            .footer-grid-div1 { grid-area: 1 / 1 / 3 / 2;
                width: 100%;
                display: block;
                text-align: right;
                align-items: center;}
/* Grid Box for the Top text, right side. */
            .footer-grid-div2 { grid-area: 1 / 2 / 2 / 3;
                width: 100%;
                font-family: 'Overpass', sans-serif;
                color: #348db9;
                font-weight: 600;
                font-size: 36px;
                transform: scale(1, 1);
                padding-top: 25px;}
/* pTag Text Attributes for above grid box */
                .footer-grid-div2 p{
                    position: absolute;
                    bottom: 0px;
                    left: 0px;}
/* Grid Box for the Bottom text, right side. */       
            .footer-grid-div3 { grid-area: 2 / 2 / 3 / 3;
                width: 100%;
                font-family: 'Overpass', sans-serif;
                color:#676767;
                font-size: 23px;
                transform: scale(1, .87);}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* END OF BELOW FOLD FOOTER - BLOCK 2 CONTENT */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/



    
    






